body {
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
    padding: 20px;
}

.post {
    margin: 20px;
    padding: 20px;
    border: 1px solid lightgray;
}

.post-info {
    font-style: italic;
    font-size: 24px;
}

nav {
    background: rgba(255, 255, 255, 0.801);
    padding: 020px;
}

nav a {
    color: black;
    padding: 10px;
    font-size: 20px;
}

.author-photo {
    float: left;
    margin-right: 20px;
}

.post {
    padding: 20px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

body {
    background-image: url(image.jpg);
    background-attachment: fixed;
    height: 80%;
    width: 99%;
    display: table;
    position: relative;
    background-size: cover;
}

.author-photo {
    width: 8%;
    height: 10%;
    border-radius: 50%;
}

.post p {
    font-size: 20px;
    text-align: justify;
}